body, h1 {
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-image: url("img/bg.jpg");  
  background-size: cover;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

.content, .sketch-pad, .container, .options, .buttons, .sketch-styles {
  display: flex;
}

.heading {
  color: #034f84;
  font-size: 64px;
  text-align: center;
  padding: 16px 0px;
}

.content {
  justify-content: space-evenly;
}

/* Sketch pad / Grid */
.sketch-pad{
  flex-direction: column;
}

.binding{
  width: 600px;
  height: 24px;
}

.container {
  background-color: #EBEBEB;
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
  cursor: crosshair;
}

/* Options */
.options {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 248px;
}

.buttons, .sketch-styles {
  flex-direction: column;
  gap: 4px;
  padding: 32px 0px;
}

button {
  height: 36px;
  width: 96px;
}

button, .color-picker {
  border: 2px solid black;
  border-radius: 12px;
}

button:hover, .color-picker:hover {
  background-color: #f4e1d2;
  color: #034f84;
  font-weight: bold;
  border-color: #92a8d1;
}

.color-picker {
  background-color: white;
  text-align: center;
  padding: 8px;
  height: 48px;
  width: 112px;
}

#color-changer{
  padding: 0px;
  border: 0px;
  width: 96px;
}

/* Pen Styles */
.styles{
  width: 112px;
  height: 42px;
}