body, h1 {
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-image: url("img/bg.jpg");  
  background-size: cover;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

.content, .sketch-pad, .container, .options {
  display: flex;
}

.heading {
  color: #034f84;
  font-size: 64px;
  text-align: center;
  padding: 16px 0px;
}

.content {
  justify-content: space-evenly;
}

/* Sketch pad / Grid */

.sketch-pad{
  flex-direction: column;
}

.binding{
  width: 600px;
  height: 24px;
}

.container {
  background-color: #EBEBEB;
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
}

/* Options */
.options {
  flex-direction: column;
}