body, h1 {
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-image: url("img/bg.jpg");  
  background-size: cover;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

.content, .sketch-pad, .container, .options, .buttons {
  display: flex;
}

.heading {
  color: #034f84;
  font-size: 64px;
  text-align: center;
  padding: 16px 0px;
}

.content {
  justify-content: space-evenly;
}

/* Sketch pad / Grid */

.sketch-pad{
  flex-direction: column;
}

.binding{
  width: 600px;
  height: 24px;
}

.container {
  background-color: #EBEBEB;
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
}

/* Options */
.option-btn, .pickers {
  border: 2px solid black;
  border-radius: 12px;
}

.options {
  flex-direction: column;
  align-items: center;
  width: 248px;
}

.buttons {
  flex-direction: column;
  gap: 4px;
  padding: 32px 0px;
}

.option-btn {
  height: 36px;
  width: 96px;
}

.option-btn:hover, .pickers:hover {
  background-color: #f4e1d2;
  color: #034f84;
  font-weight: bold;
  border-color: #92a8d1;
}

.pickers {
  background-color: white;
  text-align: center;
  padding: 8px;
  height: 128px;
  width: 128px;
}

.color-picker, .bg-picker {
  padding: 4px;
}

#change-color, #bg-changer {
  padding: 0px;
  border: 0px;
  width: 96px;
}

.bg-picker {
  border-top: 2px dashed black;
}